.container__left {
  width: 30%;
  height: 100vh;
  background-color: rgb(166, 243, 250);
  position: relative;
}
.container__left-task {
  position: absolute;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  top: 15%;
  left: 5%;
}
.container__left-form {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
.container__left-title {
  display: flex;
  flex-direction: column;
}
.container__left-titleinput {
  border-radius: 0.1875rem;
  padding: 0.3125rem 0.625rem;
  border: none;
  outline: none;
}
.container__left-input {
  border-radius: 0.1875rem;
  padding: 0.3125rem 0.625rem;
  border: none;
  outline: none;
}
.container__left-description {
  display: flex;
  flex-direction: column;
}
.container__left-textarea {
  border-radius: 0.1875rem;
  padding: 0.3125rem 0.625rem;
  border: none;
  outline: none;
}
.container__left-taskdetail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container__left-duedate {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.container__left-duedateinput {
  border-radius: 0.1875rem;
  padding: 0.3125rem 0.625rem;
  border: none;
  outline: none;
}
.container__left-priority {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.container__left-priorityselect {
  border-radius: 0.1875rem;
  padding: 0.3125rem 0.625rem;
  border: none;
  outline: none;
}
.container__left-categories {
  display: flex;
  flex-direction: column;
}
.container__left-categoryselect {
  border-top-right-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
  padding: 0.3125rem 0.625rem;
  border: none;
  outline: none;
}
.container__left-ccontainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container__left-categorycontainer {
  border-top-left-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
  width: 100%;
  background-color: #fff;
}
.container__left-categoryinput {
  display: flex;
  justify-content: space-between;
}
.container__left-button {
  border-radius: 0.3125rem;
  border: none;
  outline: none;
  padding: 0.625rem;
  background-color: #000;
  color: #fff;
}

.container__right {
  width: 70%;
  height: 100vh;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__right-upper {
  width: 90%;
  height: 40vh;
  background-color: yellow;
}
.container__right-lower {
  overflow-y: scroll;
  width: 85%;
  background-color: blue;
  height: 60vh;
}
.container__right-taskscontainer {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  margin: 1.25rem auto;
  border: 0.0625rem dashed yellow;
}
.container__right-checkboxDiv {
  width: 5%;
  text-align: center;
}
.container__right-descriptionDiv {
  width: 90%;
  margin-left: 1.25rem;
}
.container__right-deleteDiv {
  text-align: center;
  width: 5%;
}
.container__right-checkboxEl {
  width: 20px;
  height: 20px;
  border: 1px;
  border-radius: 100px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}/*# sourceMappingURL=styles.css.map */