@import "./scss_components/functions.scss";
@import "./scss_components/left_component.scss";
@import "./scss_components/right_component.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 920px){
    .container{
        flex-direction: column;
        width: 100vw;
        height: auto;

        &__left{
            width: 100%;
            height: 48vh;

            &-task{
                top: 5%;
            }

            &-form{
                gap: px(15px);
            }
        }

        &__right{
            width: 100%;
            height: 52vh;

            &-heading{
                margin-top: px(20px);
            }
        }
    }
}