@import "./scss_components/functions.scss";
@import "./scss_components/left_component.scss";
@import "./scss_components/right_component.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}