$left-bgColor: rgb(127, 177, 181);
$whiteColor: #fff;
$chip-bgColor: #9BE2DB;
$chip-color: #1C6A62;
$blackColor: #000;
$error-color: #ff8888;
$highp-Color: #E41A1A;
$mediump-Color: #E4971A;
$lowp-Color: #20B10D;
$grayColor: gray;