@import "functions.scss";
@import "colors.scss";
@import "mixins.scss";

.container{

    &__left{
        width: 30%;
        height: 100vh;
        background-color: $left-bgColor;
        position: relative;

        &-task{
            position: absolute;
            width: 90%;
            height: fit-content;
            top: 15%;
            left: 5%;
        }

        &-form{
            gap: px(25px);
            @include columnDir;
        }

        &-title{
            @include columnDir;
        }

        &-titleinput{
            @include leftBorderandPadding;
            @include borderOutlineNone;
        }

        &-input{
            @include leftBorderandPadding;
            @include borderOutlineNone;
        }

        &-description{
            @include columnDir;
        }

        &-textarea{
            @include leftBorderandPadding;
            @include borderOutlineNone;
        }

        &-taskdetail{
            width: 100%;
            @include justifyBetween;
        }

        &-duedate{
            width: 48%;
            @include columnDir;
        }

        &-duedateinput{
            @include leftBorderandPadding;
            @include borderOutlineNone;
        }

        &-priority{
            @include columnDir;
            width: 48%;
        }

        &-priorityselect{
            @include leftBorderandPadding;
            @include borderOutlineNone;
        }

        &-categories{
            @include columnDir;
        }

        &-categoryselect{
            border-top-right-radius: px(3px);
            border-bottom-right-radius: px(3px);
            padding: px(5px) px(10px);
            @include borderOutlineNone;
        }

        &-ccontainer{
            width: 100%;
            @include justifyBetween;
        }

        &-categorycontainer{
            border-top-left-radius: px(3px);
            border-bottom-left-radius: px(3px);
            width: 100%;
            background-color: $whiteColor;
        }

        &-categoryinput{
            left: 50%;
            @include justifyBetween;
        }

        &-categoryDiv{
            align-items: center;
            gap: px(5px);
            background-color: $chip-bgColor;
            color: $chip-color;
            border-radius: px(16px);
            padding: 0 px(10px);
            margin: px(5px) px(5px);
            width: fit-content;
            @include justifyBetween;
        }

        &-deleteBtn{
            background-color: transparent;
            width: fit-content;
            margin: px(5px) px(5px);
            color: $chip-color;
            cursor: pointer;
            @include borderOutlineNone;
        }

        &-button{
            border-radius: px(5px);
            @include borderOutlineNone;
            padding: px(10px);
            background-color: $blackColor;
            color: $whiteColor;
            cursor: pointer;
        }
    }

    &__error{
        margin-top: px(15px);

        &-handleerror{
            background-color: $error-color;
            padding: px(10px) px(5px);
            border-radius: px(3px);
            @include justifyBetween;
        }

        &-para{
            font-size: px(16px);
        }

        &-delete{
            background-color: transparent;
            cursor: pointer;
            font-size: px(15px);
            @include borderOutlineNone;
        }
    }
}