@import "functions.scss";
@import "colors.scss";

.container{

    &__right{
        width: 70%;
        height: 100vh;
        flex-direction: column;
        @include flexCenter;

        &-heading{
            font-size: px(40px);
            margin-bottom: px(20px);
            margin-top: px(5px);
        }

        &-tasktitle{
            margin-bottom: px(10px);
        }

        &-title{
            margin-bottom: px(10px);
            @include columnDir;
            @include commonRightGap;
        }

        &-titleinput{
            height: px(40px);
            @include commomRightBorderRadius;
            @include borderOutlineNone;
            @include commonRightPadding;
            @include commomRightBorder;
        }

        &-search{
            @include justifyBetween;
        }

        &-categoryinput{
            width: 45%;
            @include columnDir;
            @include commonRightGap;
        }

        &-selectcontainer{
            display: flex;
            width: 100%;    
            @include commomRightBorder;
            @include commomRightBorderRadius;
        }

        &-categoryselect{
            width: 50%;
            height: px(40px);
            @include borderOutlineNone;
            @include commonRightPadding;
            @include commomRightBorderRadius;
        }

        &-chipcontainer{
            width: 65%;
            flex-wrap: wrap;
            padding-left: 10px;
            margin: px(5px) 0;
            @include alignCenter;
            @include commonRightGap;
        }

        &-chip {
            border-radius: px(16px);
            background-color: $chip-bgColor;
            color: $chip-color;
            font-size: px(14px);
            @include alignCenter;
            @include commonRightPadding;
        }

        &-deleteBtn {
            margin-left: 10px;
            cursor: pointer;
            font-weight: bold;
            color: $chip-color;
        }

        &-priority{
            width: 25%;
            @include columnDir;
            @include commonRightGap;
        }

        &-priorityselect{
            height: px(40px);
            @include commomRightBorderRadius;
            @include borderOutlineNone;
            @include commonRightPadding;
            @include commomRightBorder;
        }

        &-completed{
            width: 25%;
            @include columnDir;
            @include commonRightGap;
        }

        &-completedselect{
            height: px(40px);
            @include commomRightBorderRadius;
            @include borderOutlineNone;
            @include commonRightPadding;
            @include commomRightBorder;
        }

        &-upper{
            width: 90%;
            height: 40vh;
        }

        &-lower{
            overflow-y: scroll;
            width: 90%;
            height: 60vh;
        }

        ::-webkit-scrollbar {
            width: 0;
        }

        &-taskscontainer{
            padding: px(10px);
            margin: px(30px) auto;
            border: px(1px) dashed $grayColor;
            @include justifyBetween;
        }

        &-dueDiv{
            display: flex;
            gap: px(20px);
            margin-bottom: px(10px);
        }

        &-borderDivH{
            border: 1px solid $highp-Color;
            line-height: px(14px);   
        }

        &-borderDivM{
            border: 1px solid $mediump-Color;
            line-height: px(14px);   
        }

        &-borderDivL{
            border: 1px solid $lowp-Color;
            line-height: px(14px);   
        }

        &-catDiv{
            display: flex;
            gap: px(20px);
            margin: px(5px) 0;
            padding: px(5px) 0;
            margin-bottom: px(10px);
        }

        &-category{
            background-color: $chip-bgColor;
            color: $chip-color;
            border-radius: px(10px);
            @include commonRightPadding;
        }

        &-checkboxDiv{
            width: 5%;
            text-align: center;
        }

        &-descriptionDiv{
            width: 90%;
            margin-left: px(20px);
        }

        &-deleteDiv{
            text-align: center;
            width: 5%;
        }

        &-deleteDiv i{
            cursor: pointer;
        }

        &-checkboxEl{
            width: px(20px);
            height: px(20px);
            border: px(1px);
            border-radius: px(100px);
            cursor: pointer;
        }

        &-highPriority{
            color: $highp-Color;
        }

        &-mediumPriority{
            color: $mediump-Color;
        }

        &-lowPriority{
            color: $lowp-Color;
        }
    }
}
